{% extends "base.html" %}

{% block title %}
    {{ SITENAME }} - {{ article.title }}
{% endblock %}

{% block content %}
    <div class="article">
        <h1>{{ article.title }}</h1>
        <small>publié le {{ article.date.strftime('%d/%m/%Y') }} dans <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a></small>
        <small>| tags : </small>
        {% for tag in article.tags %}
            {% if loop.last %}
                <span class="tag"><a href="{{ SITEURL}}/{{ tag.url }}">{{ tag }}</a></span>
            {% else %}
                <span class="tag"><a href="{{ SITEURL}}/{{ tag.url }}">{{ tag }}</a>,</span>
            {% endif %}
        {% endfor %}

        <div class="article-content">
            {{ article.content }}
        </div>

    </div>
{% endblock %}
